<header>
  <nav>
    <div id="container">
  
      <a id="logo" href="{{ site.baseurl }}/index.html">erika maessaka</a>

      <ul id="menu" role="menu">
        {% for item in site.data.navlist %}
        <li><a class="{% if page.url == item.url %}active{% endif %}" href="{{ site.baseurl }}/{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>

      <ul id="menu-mobile" role="menu">
        {% for item in site.data.navlist %}
        <li><a class="{% if page.url == item.url %}active{% endif %}" href="{{ site.baseurl }}/{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
  
      <button id="burger" aria-label="open menu" aria-haspopup="true" aria-controls="menu-mobile" aria-expanded="false">
        <span></span>
      </button>
    </div>    
  </nav>
</header>