<div class="projects-list">

    {% for portfolio in site.portfolio %}

    <div class="card" onclick="location.href='{{ portfolio.url }}';" style="cursor: pointer;">

        <figure class="card-image">

            <img src="{{ portfolio.image }}" alt="{{ portfolio.img-alt }}">
        
        </figure>


        <div class="card-info">

            <div class="card-text">
                <p class="tag">{{ portfolio.tag }}</p>
                <h2>{{ portfolio.title }}</h2>
                <!--<p class="{{ portfolio.description }}">test</p>-->
            </div>

            <div class="card-link">
                <p>⟶ View Project</p>
            </div>

        </div>

    </div>

    {% endfor %}
    
</div>