<!DOCTYPE html>
<html lang="en-gb">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{site.baseurl}}/css/harrystyles.css">

<title>Erika Maessaka</title>

</head>

<body>

    <header>
        {% include nav.html type="navtop" %}
    </header>
    
    <main>
        
        {{content}}

    </main>

    <footer>
        <p>copyright</p>
        <a>socials</a>
    </footer>


    <script src="{{ base.url | prepend: site.url }}/js/main.js"></script>
    
</body>



</html>
