---
layout: default
---

<div class="project-title">
    <p class="tag">UX/UI Design</p>
    <h1><abbr title="Faculdade de Belas Artes da Universidade de Lisboa">FBAUL</abbr>'s Alumni Portal - Building Community</h1>
</div>

<div class="figma">
<!--<a href="#" title="open figjam board" target= _blank>✎ View FigJam board</a>-->
<a href="https://www.figma.com/proto/hQDJFKAjE7o3gPzOUfIYeB/PD1-EX2---Redesign-FBAUL-(Alumni)-v2?page-id=420%3A12909&node-id=420%3A14528&starting-point-node-id=500%3A15739" title="open prototype on figma" target= _blank>▷ View Prototype</a>
</div>


<figure class="project-hero">
    <img src="/assets/img/fbaul-cover.png" alt="mockup featuring the desktop interface of the proposed fbaul alumni portal.">
</figure>

<div class="project-content">

    {{ content }}
    
</div>